# Virtual Environment
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets & Heavy Files (DO NOT COMMIT DATA)
train/
val/
data/
*.pt

# IDE / OS junk
.DS_Store
.vscode/
_MACOSX/